p, #title, .red{
    color: red;
}
.box p {
    color: blue;
    display: inline;
}
h1 ~ h2 {
    color: green;
}
#p155 > p::before {
    content: "<<::befor 머릿말>>";
    color: aqua;
}
#p155 > p::after {
    content:"<<::after 꼬릿말>>";
    color: aqua;
}