a:link {
    color: orange;
}
a:visited {
    color: green;
}
#p156 > p:active {
    color: red;
    font-size: 20px;
}
a + p:hover {
    color: blue;
    font-size: 30px;
}
input[type="password"]:focus {
    color: red;
}
input[name="userphone"]:focus {
    color: grey;
}
input:checked[name="banana"] + label{
    color: rgb(201, 197, 0);
    font-weight: 800;
    font-size: 2rem;
}
input:checked[name="apple"] + label{
    color: rgb(255, 51, 0);
    font-weight: 800;
    font-size: 2rem;
}
input:checked[name="orange"] + label{
    color: orange;
    font-weight: 800;
    font-size: 2rem;
}
input[name="userid"]:disabled {
    background-color: rgb(166, 172, 177);
}
input:enabled {
    background-color: rgb(211, 211, 69);
}

div:hover > button {
    background-color: blanchedalmond;
}

div:hover > button:nth-child(2){
    background-color: rgba(218, 156, 87, 0.911);
}


