.grid-container{
    display: grid;
    grid-template-columns: repeat(5,100px);
    grid-template-rows: repeat(5, 100px);
    
}

.grid-item:nth-child(1){
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-item:nth-child(2){
    background-color: yellow;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-item:nth-child(3){
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;

}
.grid-item:nth-child(4){
    background-color: orange;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}
.grid-item:nth-child(5){
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
}
.grid-item:nth-child(6){
    background-color: violet;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
}