/* --------------------------------------스탭 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.steps-body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.steps-container {
    display: flex;
    justify-content: space-between;
    width: 700px;
}


.step {
    text-align: center;
    flex: 1;
    padding: 20px;
    position: relative;
}

.step-number {
    font-size: 20px;
    font-weight: bold;
    background-color: #ddd;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 40px;
    margin: 0 auto;
    color: #000000;
}

.step-title1 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(231, 180, 86);
}

.step-title2 {
    margin-top: 10px;
    font-size: 20px;
    color: #555;
}

.step::before {
    display: none; /* 선을 없앰 */
}

.active .step-number {
    background-color: rgb(231, 180, 86);
    color: white;
}

/* --------------------------------------약관 동의 창 */


.container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-top: 20px;
    font-size: 1.2em;
}

.terms-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    height: 150px;
    overflow-y: scroll;
}

.terms-section {
    margin-bottom: 20px;
}

.required {
    color: red;
}

.optional {
    color: green;
}

label {
    display: block;
    margin-top: 10px;
}

.button-section {
    display: flex;
    justify-content: space-between;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.cancel-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.submit-btn:hover, .cancel-btn:hover {
    opacity: 0.9;
}


