
<<<<<<< HEAD

/* --------------------------------------스탭 */


.steps-body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  width: 700px;
}


.step {
  text-align: center;
  flex: 1;
  padding: 20px;
  position: relative;
}

.step-number {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(231, 180, 86) ;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 40px;
  margin: 0 auto;
  color: white ;
}

.step-title2 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(231, 180, 86);
}

.step-title1 {
  margin-top: 10px;
  font-size: 20px;
  color: #555;
}

.step::before {
  display: none; /* 선을 없앰 */
}

.active .step-number {
  background-color: #ddd;
  color:  #000000;
}


/* ----------------------------------------- 회원가입 창 */
=======
>>>>>>> 5878e66ebd599580eab3a62fc804cbca56b5275e
body {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

* {
  box-sizing: border-box;
}
#middletitle {
  margin-top: 50px;
  margin-bottom: 50px;
}
#user {
  width: 650px;
  height: 800px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #000;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#user > fieldset {
  margin: 0;
  border: none;
}

#user > fieldset > legend {
  position: absolute;
  left: -999999px;
}

label {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

label h1 {
  font-size: 14px;
  margin: 0;
  margin-right: 20px;
}

input {
  background-color: #eaeaea;
  width: 320px;
  height: 50px;
  border: 1px solid black;
  margin-bottom: 0px;
}

button {
  width: 146px; 
  height: 50px; 
  border: 1px solid #000;
  color: #ffffff;
  background-color: rgb(231, 180, 86);
  cursor: pointer; 
  margin-left: 1px; 
}

button:hover {
  background-color: rgb(200, 150, 70); 
}

.password-confirm-button {
  background-color: rgb(231, 180, 86);
  border: 1px solid #000;
  color: #fff;
  cursor: pointer; 
  margin-left: 10px; 
}

.password-confirm-button:hover {
  background-color: rgb(200, 150, 70); 
}
.button-container {
  display: flex;
  margin-left: -51.5px;
}

.email-container {
  display: flex;
  align-items: center;
}

.passwordHint-container {
  display: flex;
  align-items: center; 
  gap: 0px; 
}

.passwordHint-input {
  width: 146px;
  margin-left: 5px;
}

.passwordHint-select {
  height: 50px; 
  padding: 8px; 
  width: 146px; 
  margin-right: 20px; 
}

.birthday-container {
  display: flex; 
  align-items: center; 
  gap: 0px; 
}

.birthday-input {
  width: 320px; 
}
.email-input {
  width: 146px;
  height: 50px;
  border: 1px solid black;
}
.domain-input {
  width: 146px;
  height: 50px;
  border: 1px solid black;
  margin-right: 10px; 
  margin-right: 10px;
}

.domain-select {
  height: 50px; 
  padding: 8px; 
}

.email-container h1 {
  margin: 0; 
  padding: 0; 
  line-height: normal; 
}

.checkbox-container input[type="checkbox"] {
  width: 15px; 
  height: 15px; 
  appearance: none; 
  background-color: #fff;
  border: 1px solid #000; 
  border-radius: 2px; 
  cursor: pointer; 
  margin-right: 13px;
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: #000; 
  border: none;
  position: relative;
}

.checkbox-container input[type="checkbox"]:checked::after {
  content: ""; 
  position: absolute;
  left: 3px; 
  top: 7px; 
  width: 4px; 
  height: 8px; 
  border: solid white; 
  border-width: 0 1px 1px 0; 
  transform: rotate(45deg); 
}

