/* https://velog.io/@hsjsstn/HTML-%EA%B2%8C%EC%8B%9C%ED%8C%90-%EA%B8%80%EC%93%B0%EA%B8%B0-%EA%B5%AC%ED%98%84 */
.suggestion {
  table-layout: fixed;
  width: 100%;
  padding: 10px;
  justify-content: center;
  border-radius: 5px;
  border-collapse: collapse;
  border-top: none;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin: 80px;
}

/*표 타이틀*/
#header {
  background-color: rgba(5, 8, 34, 0.568);
  color: aliceblue;
  font-size: 15px;
  text-align: center;
}
.suggestion td,
.suggestion th {
  border-bottom: 1px lightgray solid;
  height: 30px;
  font-size: 1.1rem;
  font-weight: bold;
}
.num {
  width: 80px;
}
.title {
  width: 1000px;
}
.body .title {
  padding-left: 50px;
  text-align: left;
}
.writer {
  width: 100px;
}
.writeDate {
  width: 100px;
}
button {
  width: 100px;
  height: 30px;
  font-size: 15px;
  color: aliceblue;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  background-color: rgba(5, 8, 34, 0.568);
}
button:active {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  outline: 1.5px rgb(216, 177, 126) solid;
  background-color: rgb(255, 223, 164);
}
