.red-box {
  width: 100px;
  height: 100px;
  background-color: red;
}
.red-box:hover {
  background-color: blue;
  color: white;
  width: 3rem;
  transition: width, 1s, ease-in-out blue;
}
