* {
  color: blue;
}
#ss {
  color: green;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#aa {
  color: #9218184d;
  @import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");
}
.c1 {
  font-weight: 800;
  font-style: italic;
  font-size: 10px;
}
.c2 {
  font-style: oblique;
  font-size: 60px;
  color: red;
}
a[href] {
  display: block;
  color: brown;
}
#title[href] {
  color: pink;
  font-style: italic;
}
.title[href] {
  color: purple;
  font-weight: bolder;
}
[class^="ab"] {
  display: block;
}
[name$="b"] {
  display: block;
}
