a:link {
  color: orange;
}
a:visited {
  color: green;
}
#p156 > p:active {
  color: red;
  font-size: 20px;
}
a + p:hover {
  color: blue;
  font-size: 40px;
}
input[name="userpw"]:focus {
  color: red;
}
input[name="userphone"]:focus {
  color: gray;
  font-size: 15px;
}
input:checked + label[for="banana"] {
  color: yellow;
  font-weight: 800;
  font-size: 2rem;
}
input:checked + label[for="apple"] {
  color: red;
  font-weight: 800;
  font-size: 2rem;
}
input:checked + label[for="orange"] {
  color: orange;
  font-weight: 800;
  font-size: 2rem;
}
input:disabled {
  background-color: #ccc;
}
input:enabled {
  background-color: #f5f79eab;
}
div:hover > button {
  background-color: aquamarine;
}
div:hover > button:nth-child(4) {
  color: blue;
}
