div#login {
  width: 400px;
  height: 150px;
  border: 1px solid grey;
  position: absolute;
  left: 800px;
  top: 50px;
}
#login > p {
  position: relative;
  left: 10px;
  top: 5px;
  font-size: 1.2rem;
}
ul,
li {
  list-style: none;
  float: left;
}
