.grid-container {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
  justify-items: center; /* st
}

.grid-item {
  color: white;
  background-color: #ff5252; /* 기본 배경 색상 */
}
.grid-item:nth-child(2n) {
  background-color: #bf5e5e;
}
