.red-box{
    width: 100px;
    height: 100px;
    background-color: red;
}
.red-box:hover{
    background-color: blue;
    color: white;
    width: 3rem;
    /*transition-property:all;
    transition-duration: 1s,500ms,5s;*/
    transition: width,1s,ease-in-out,1s;
}