h1{
    color: red !important;
}
.title {
    color: blue;
}
#a{
   color: rgb(0, 128, 0); 
}
#p177 {
    color: rgb(255, 0, 0,0.5);
}
html {
    font-size: 1rem;
}
span{ /* 1rem = 16px */
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 10;
}
div > .v {
    font-variant: small-caps;
    text-align: justify;
}
a {
    text-decoration: none;
}


